body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    padding: 15px;
}
.link { 
    list-style: none; 
    padding-left: 5px; }
a { 
    color:blue; 
    text-decoration: none;
    }

.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
main {
    width: 60%;
    padding: 20px;
    border: solid 1px #727171;
}
main h1{
    margin-top: 0px;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    background-color: #1c1c1c;
    height: 150px;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
    text-align: center;
    width: 20%;
}
.anchors p {
    margin: 0%;
}
nav {
    border-right: solid 1px #727171;
    width: 250px;

}
nav h2{
    margin-top: 0px;
}
figure {
    text-align: center;
}
.content {
    display: flex;
    align-items: flex-start; 
}
.p {
    background-color: rgb(216, 254, 220);
}  
.r {
    background-color: rgb(255, 193, 184);
}    
.c {
    background-color: rgb(195, 200, 255);
}
.ce {
    background-color: rgb(188, 238, 253);
}
.o {
    background-color: #dddddd;
    color: #dddddd;
}
.descricao th {
    border: solid 1px #000000;
    font-size: 20px;
    width: 100px;
}
.descricao td {
    font-size: 15px;
    width: 450px;
    border: solid 1px #000000;
    text-align: left;
    height: 10px;
}
.descricao {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.elenco th {
    border: solid 1px #000000;
    font-size: 18px;
    background-color: #c1baba;
    width: 500px;
}
.elenco td {
    font-size: 15px;
    width: 800px;
    border: solid 1px #000000;
    text-align: center;
    height: 30px;
}
.elenco, .episod {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.pAjuste, .explicacao {
    width: 48%; 
    float: left;
    margin-right: 2%; 
}
  
.explicacao {
    margin-right: 0; 
    border: solid 2px black;
    margin-bottom: 70px;

}
.pAjuste p {
    margin-top: 0px;
}  
.episod th{
    border: solid 1px #000000;
    font-size: 16px;
    background-color: #c1baba;
    width: 300px;
}
.episod td {
    font-size: 15px;
    width: 600px;
    border: solid 1px #000000;
    text-align: center;
    height: 30px;
}
.taiber3 {
    font-size: 11px;
    border: solid 2px rgb(2, 2, 2);
    margin-right: 10px;
}
.taiber3 th {
    vertical-align: text-top;
}
.footer-links {
    list-style: none; /* Remove os marcadores de lista */
    padding: 0;
    margin: 0;
    display: flex; /* Coloca os itens em linha */
    flex-wrap: wrap; /* Permite que os itens quebrem para uma nova linha, se necessário */
    gap: 15px; /* Espaçamento entre os links */
    border-right: 0%;

}
.footer-links li {
    margin: 0;
    font-size: 12;
}
.footer-links a {
    text-decoration: none;
    color: #3a49f2; 
    font-size: 12;
    
}
a:hover {
    text-decoration: underline;
}
.footer nav{
    border-right: 0%;
    width: 1098px;
    margin: 20px 0px;
    
}
.footer p {
    font-size: 12px;
    margin: 5px;
    color: #f9f9fb;
}